#dt_example {
	font: 65%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

#dt_example #container {
	width: 500px;
	margin: 0px;
	padding: 0;
}

#dt_example #footer {
	margin: 25px 0 0 0;
	padding: 0;
}

#dt_example #demo {
	margin: 15px 0 0 0;
}
#dt_example .spacer {
	height: 10px;
	clear: both;
}

#dt_example pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#dt_example h1 {
	font-size: 1.3em;
	font-weight: normal;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
}

#dt_example a {
	color: #0063DC;
	text-decoration: none;
}

#dt_example a:hover {
	text-decoration: underline;
}


.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	_height: 302px;
	clear: both;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	float: right;
	text-align: right;
}

table.display {
	margin: 0;
	width: 100%;
	clear: both;
}

table.display thead th {
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	text-align:center;
}

table.display tfoot th {
	padding: 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display td {
	padding: 2px 5px;
}

.sorting_asc {
	background: url('../images/asc.gif') no-repeat center right;
}

.sorting_desc {
	background: url('../images/desc.gif') no-repeat center right;
}

.sorting {
	background: url('../images/bg.gif') no-repeat center right;
}

tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}
.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.example_alt_pagination .dataTables_paginate {
	width: 200px;
	height: 22px;
	line-height: 22px;
}
.example_alt_pagination div.dataTables_paginate span.paginate_button,
 	.example_alt_pagination div.dataTables_paginate span.paginate_active {
	border: 1px solid #aaa;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button {
	background-color: #ddd;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button:hover {
	background-color: #ccc;
}

.example_alt_pagination div.dataTables_paginate span.paginate_active {
	background-color: #99B3FF;
}

tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}